@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  background-image: url(images/1.jpg);
}

nav {
  padding: 30px 80px;
  font-family: "Roboto", sans-serif;
}

.div-nav {
  display: flex;
}

.brand-navbar a {
  display: flex;
  transition: all 200ms;
}

.brand-navbar span {
  color: white;
  margin-left: 10px;
  transition: all 200ms;
  font-size: 20px;
}

.logo-brand-navbar {
  width: 30px;
  height: 40px;
  background: rgb(187, 45, 147);
  background: linear-gradient(
    184deg,
    rgba(187, 45, 147, 1) 0%,
    rgba(12, 157, 246, 1) 100%
  );
  transform: skew(10deg, 10deg);
  position: relative;
  top: -10px;
  /* border: #0e1646 1px solid; */
  box-shadow: white 0px 0px 48px -2px;
  transition: all 400ms;
}

.brand-navbar a:hover > div {
  transform: rotate(180deg);
}

.brand-navbar a:hover > span {
  margin-left: 0;
  margin-right: 10px;
}

.brand-navbar a:hover {
  flex-direction: row-reverse;
}

.menu-navbar {
  margin-left: auto;
  margin-right: 70px;
}

.menu-navbar ul li {
  display: inline;
  padding: 5px 25px;
  transition: all 200ms;
  border-radius: 30px;
  border-bottom: #c8238900 2px solid;
  cursor: pointer;
}

.menu-navbar ul li a {
  color: white;
  transition: all 200ms;
}

.menu-navbar ul li:hover {
  border-bottom: #c82389 2px solid;
  position: relative;
}

.menu-navbar ul li:hover > a {
  color: #c82389;
}

.btn-navbar a {
  color: white;
  background-color: #c82389;
  padding: 10px 30px;
  border-radius: 5px;
  border: #c8238900 2px solid;
  transition: all 200ms;
}

.btn-navbar a:hover {
  background-color: rgba(200, 35, 137, 0);
  border: #c82389 2px solid;
  color: #c82389;
}

.btn-menu-mobile {
  display: none;
  margin-left: auto;
}

.btn-menu-mobile ion-icon {
  color: white;
  font-size: 30px;
  transition: all 300ms;
  cursor: pointer;
  transition: all 200ms;
}

.btn-menu-mobile ion-icon:hover {
  color: #c82389;
  font-size: 30px;
  transform: rotate(90deg);
}

@media screen and (max-width: 1150px) {
  .menu-navbar ul li {
    display: inline;
    padding: 5px 15px;
  }
  .menu-navbar {
    margin-left: auto;
    margin-right: 40px;
  }

  nav {
    padding: 30px 50px;
  }
}

@media screen and (max-width: 850px) {
  .menu-navbar,
  .btn-navbar {
    display: none;
  }
  .btn-menu-mobile {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  nav {
    padding: 30px 30px;
  }
}

.btn-menu-mobile .btn-menu {
  display: grid;
  grid-template-columns: 15px 15px;
  grid-template-rows: 15px 15px;
  gap: 2px;
  transition: all 200ms;
  cursor: pointer;
}

.item1 {
  border: white 2px solid;
  border-radius: 2px;
  transition: all 300ms;
}

.btn-menu-mobile .btn-menu .i1 {
  grid-area: 1 / 1 / 1 / 1;
}

.btn-menu-mobile .btn-menu .i2 {
  grid-area: 1 / 2 / 2 / 3;
}

.btn-menu-mobile .btn-menu .i3 {
  grid-area: 2 / 1 / 3 / 2;
}

.btn-menu-mobile .btn-menu .i4 {
  grid-area: 2 / 2 / 3 / 3;
}

.btn-menu-mobile .btn-menu:hover > .item1 {
  border: #c82389 2px solid;
}

.btn-menu-mobile .btn-menu:hover > .i1 {
  transform: rotate(-90deg);
}

.btn-menu-mobile .btn-menu:hover > .i4 {
  transform: rotate(-90deg);
}

.btn-menu-mobile .btn-menu:hover > .i2 {
  transform: rotate(90deg);
}

.btn-menu-mobile .btn-menu:hover > .i3 {
  transform: rotate(90deg);
}

header {
  height: calc(100vh - 120px);
  font-family: "Roboto", sans-serif;
  padding: 10px 70px;
}

.div-header {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 50% 50%;
  height: 100%;
}

.item-header {
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-header h1 {
  font-weight: 500;
  font-size: 55px;
  color: white;
}

.text-header h1 span {
  background: -webkit-linear-gradient(#c82389, rgba(12, 157, 246, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-header p {
  margin-top: 30px;
  font-weight: 200;
  color: #ffffffc9;
}

.img-header {
  grid-area: 1 / 2 / 3 / 3;
}

.btn-header {
  margin-top: 50px;
  width: 100%;
  display: flex;
}

.btn-header-1 {
  background: -webkit-linear-gradient(#c82389, rgba(12, 157, 246, 1));
  padding: 12px 37px;
  color: white;
  border-radius: 5px;
  font-weight: 500;
  margin-right: 17px;
  transition: all 200ms;
  border-bottom: rgba(255, 255, 255, 0) 2px solid;
  border-right: rgba(255, 255, 255, 0) 2px solid;
  border-top: rgba(255, 255, 255, 0) 2px solid;
  border-left: rgba(255, 255, 255, 0) 2px solid;
  width: max-content;
}

.btn-header-1:hover {
  background: -webkit-linear-gradient(#c8238900, rgba(12, 156, 246, 0));
  border-bottom: #c82389 2px solid;
  border-right: #c82389 2px solid;
  border-top: rgba(12, 157, 246, 1) 2px solid;
  border-left: rgba(12, 157, 246, 1) 2px solid;
  color: rgba(12, 157, 246, 1);
}
.btn-header-1:hover > span {
  color: #c82389;
}

.btn-header-2 {
  padding: 12px 12px;
  color: #951c6c;
  border-radius: 5px;
  font-weight: 300;
  font-size: 18px;
  transition: all 200ms;
  border: #951c6d00 2px solid;
  width: max-content;
}

.btn-header-2 ion-icon {
  position: relative;
  top: 3px;
}

.btn-header-2:hover {
  color: #fffeff;
  border: #951c6c 2px solid;
}

.img-header {
  display: flex;
  justify-content: end;
  align-items: center;
}

.div-img-header {
  width: 80%;
  height: 85%;
  background-image: url(images/2.jpg);
  background-size: cover;
  border-radius: 100px 0 0 0;
}

@media screen and (max-width: 850px) {
  .item-header {
    grid-area: 1 / 1 / 3 / 3;
  }
  .text-header h1 {
    font-size: 45px;
  }
  .text-header p {
    margin-top: 15px;
  }
  .img-header {
    display: none;
  }
  .div-img-header {
    width: 100%;
    height: 85%;
    background-image: url(images/2.jpg);
    background-size: cover;
    border-radius: 100px 0 0 0;
  }
  .btn-header-1 {
    margin-right: 0;
  }
  .btn-header {
    margin-top: 30px;
  }
  header {
    position: relative;
    top: -40px;
  }
}

@media screen and (max-width: 480px) {
  .btn-header-2 {
      margin-top: 10px;
  }
  .btn-header {
  display: flex;
  flex-direction: column;
}
}
