@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  background-image: url(images/1.jpg);
}

nav {
  padding: 30px 80px;
  font-family: "Roboto", sans-serif;
}

.div-nav {
  display: flex;
}

.brand-navbar {
  display: flex;
}

.brand-navbar span {
  color: white;
  margin-left: 10px;
}

.logo-brand-navbar {
  width: 30px;
  height: 40px;
  background: rgb(187, 45, 147);
  background: linear-gradient(
    184deg,
    rgba(187, 45, 147, 1) 0%,
    rgba(12, 157, 246, 1) 100%
  );
  transform: skew(10deg, 10deg);
  position: relative;
  top: -10px;
  /* border: #0e1646 1px solid; */
  box-shadow: white 0px 0px 48px -2px;
}

.menu-navbar {
  margin-left: auto;
  margin-right: 70px;
}

.menu-navbar ul li {
  display: inline;
  padding: 5px 25px;
}

.menu-navbar ul li a {
  color: white;
}

.btn-navbar {
}

.btn-navbar a {
  color: white;
  background-color: #c82389;
  padding: 10px 30px;
  border-radius: 5px;
}

.btn-menu-mobile {
  display: none;
  margin-left: auto;
}

.btn-menu-mobile ion-icon {
  color: white;
  font-size: 30px;
}

@media screen and (max-width: 1150px) {
  .menu-navbar ul li {
    display: inline;
    padding: 5px 15px;
  }
  .menu-navbar {
    margin-left: auto;
    margin-right: 40px;
  }

  nav {
    padding: 30px 50px;
  }
}

@media screen and (max-width: 900px) {
  .menu-navbar,
  .btn-navbar {
    display: none;
  }
  .btn-menu-mobile {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  nav {
    padding: 30px 30px;
  }
}
